<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCcD_yhuX7wwE8Xz04yJZyCJ1fWOgw0pd4</string>
	<key>GCM_SENDER_ID</key>
	<string>860744502515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.betaApp</string>
	<key>PROJECT_ID</key>
	<string>beta-app-d7890</string>
	<key>STORAGE_BUCKET</key>
	<string>beta-app-d7890.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860744502515:ios:96685cefd2f36ea0a97b86</string>
</dict>
</plist>